body.react-confirm-alert-body-element {
	overflow: hidden;
}

.react-confirm-alert-blur {
	filter: url(#gaussian-blur);
	filter: blur(2px);
	-webkit-filter: blur(2px);
}

.react-confirm-alert-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1060;
	background-color: rgba(53, 55, 56, 0.5);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	opacity: 0;
	-webkit-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
	-moz-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
	-o-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
	animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
}

.react-confirm-alert-body {
	font-family: Arial, Helvetica, sans-serif;
	width: 500px;
	padding: 40px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
    color: #787878;
    text-align: center;
}

.react-confirm-alert-svg {
	position: absolute;
	top: 0;
	left: 0;
}

.react-confirm-alert-body>h1 {
    margin-top: 0;
    color: #595959;
	font-size: 30px;
	font-weight: 600;
}

.react-confirm-alert-body>h3 {
	margin: 0;
	font-size: 16px;
}

.react-confirm-alert-button-group {
    margin: 20px auto 0;
}

.react-confirm-alert-button-group>button {
    outline: none;
    background: none;
    border: 1px solid black;
    display: inline-block;
    padding: 6px 20px;
    color: black;
    margin-right: 10px;
    border-radius: 0px;
    font-family: 'Roboto';
    font-size: 17px;
    cursor: pointer;
    font-weight: 600;
	width: 160px;
}

@-webkit-keyframes react-confirm-alert-fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-moz-keyframes react-confirm-alert-fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-o-keyframes react-confirm-alert-fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes react-confirm-alert-fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}